.navbar {
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 0;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end; /* Faz com que as opções do meu menu permaneçam a direita */
  align-items: center;
}

.menu .menuItem a {
  padding: 15px;
}

.menu .menuItem a:hover {
  text-decoration: underline;
}

div.container {
  width: 100vw; /* View width = Largura total de tela do usuário */
  height: 100vh; /* View Height = Altura total de tela do usuário */

  position: relative;
  flex-direction: column; /* Deixa os elemntos do Flexbox em colunas */
}

.container .logo img {
  width: 30%;
}

div.container input {
  padding: 20px;
  border-radius: 24px;/* Deixa os cantos arredondados*/
  height: 44px;
  border: 1px solid #dfe1e5;
  width: 482px;
  transition: all 0.5s;/* Anima qualquer propriedade do elemento */    
  margin-top: -40px;
}

div.container input:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Aplica Sombra no elemento */
}

div.container input:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
