.navbar {
  width: 100%;
  height: 60px;

  border: 2px solid var(--color-dark);
}

.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end; /* Faz com que as opções do meu menu permaneçam a direita */
  align-items: center;
}

.menu .menuItem a:hover {
  text-decoration: underline;
}
